.main {
  display: flex;
  padding: 6rem;
  min-height: 100vh;
  max-width: 1080px;
  margin: auto;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  font-size: 0.95rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  margin: auto;
}