.main {
  display: flex;
  padding: 6rem;
  min-height: calc(100vh - 6rem);
  max-width: 1080px;
  margin: auto;  
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  font-size: 0.95rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  margin: auto;
}

@media screen and (max-width: 767px) {
  .main {
    padding: 1.5rem;
    min-height: 100vh;
  }
}